@font-face {
  font-family: "KaushanScript";
  src: url("./static/fonts/KaushanScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT";  
  src: url("./static/fonts/Avenir_LT_W01_35_Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  }
